@font-face {
    font-family: Quenda;
    src: url(./static/fonts/Quenda-Medium.otf);
}

$color-scheme: (
    #FF9B00
    #1C1259
);
$title: #FF9B00;
$text: #1C1259;
$background: rgb(230, 231, 240);
$card: rgb(255, 255, 255);
$nav: white;
$gradient: #FF9B00;
// $gradient: -webkit-linear-gradient(45deg, nth($color-scheme, 1), nth($color-scheme, 2));
$gradient-hover: lighten($gradient, 5%);
// $gradient-hover: -webkit-linear-gradient(45deg, lighten(nth($color-scheme, 1), 5%), lighten(nth($color-scheme, 2), 5%));
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);

body {
    background: $background;
}

h1,h2,h3,h4,h5,h6 {
    color: $title;
    font-family: Roboto, sans-serif;
}

.container {
    margin-top: 25px;
    padding: 25px;
    color: $text;
}

.jumbotron {
    width: 100%;
}

.jumbotron > .row > div > nav {
    width: 16%;
    padding-bottom: 10px;
    height: 75px;
    position: fixed;
    left: 0;
    padding-right: 25px;
    background: $nav;
    height: 100vh;
    box-shadow: $shadow;
}

.jumbotron > .row > div > nav > ul > a > li {
    height: 50px;
    padding: 12.5px;
    width: 130%;
    margin-left: -15%;
    text-align: right;
    transition: all 0.25s;
    padding-right: 35px;
    cursor: pointer;
    font-size: 1.5em;
    background: $text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    transition: font-size 0.25s;
}

.jumbotron > .row > div > nav > ul > a > li:hover,
.jumbotron > .row > div > nav > ul > a.router-link-exact-active.nav-link > li {
    background: $gradient;
    box-shadow: $shadow;
    border-image: $gradient;
    border-image-slice: 1;
    color: white;
    -webkit-background-clip: none;
    -webkit-text-fill-color: white;
    font-size: 2em;
}

.jumbotron > .row > div > nav > ul > a.router-link-exact-active:not(.nav-link) > li {
    display: none;
}

.jumbotron > .row > div > nav > ul > a > li {
    font-size: 1.5em;
    background: $text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    transition: font-size 0.25s;
}

.jumbotron > .row > div > nav > ul > a {
    text-decoration: none;
}

.jumbotron > .row > div > nav > .icon {
    font-size: 80px;
    color: $title;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
}

.jumbotron > .row > div > nav > h1 {
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    font-family: 'Martel Sans';
}

.jumbotron h1 svg {
    margin-right: 10px;
}

p, label, div, input {
    color: rgba(28, 34, 65, 0.8);
    font-family: Merriweather;
}

.button {
    font-family: Roboto, sans-serif;
    background: $gradient;
    border-image: $gradient;
    border-image-slice: 1;
    border-width: 2px;
    transition: all 0.25s;
}

.button.secondary {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image-slice: 1;
}

.button:hover,
.button.secondary:hover {
    background: $gradient-hover;
    border-image: $gradient-hover;
    color: white;
    -webkit-background-clip: none;
    -webkit-text-fill-color: white;
}

form {
    width: 25%;
}

form h2 {
    color: $text;
}

.form-group:not(:last-child) {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.card {
    padding: 10px;
}

.card .card-interior {
    background-color: $card;
    box-shadow: $shadow;
    border-radius: 5px;
}

.card h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

div h1 {
    color: $text;
}

.VuePagination > nav > ul > li {
    display: inline-block;
    width: auto;
}

.enter-time {
    padding: 25px;
}

.enter-time > form {
    width: 100%;
}

.enter-time > form > div {
    margin-top: 10px;
}

.enter-time > form > div > textarea {
    resize: none;
    height: 150px;
}

.enter-time > form > div > div > input[type="submit"] {
    width: 100%;
}